@import helper._

@(restaurantForm: Form[UserRestData])

@main("Add user", "home") {
    @form(routes.RestaurantController.saveRestaurant(), 'class -> "form-horizontal") {
        <div class="container">
            <table border="1" cellpadding="1" cellspacing="1" style="width : 500 px ;">
                <tbody>
                    <tr>
                        <td>First Name</td>
                        <td><input maxlength="500" name="first_name" size="50" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><input maxlength="500" name="last_name" size="50" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td><input maxlength="500" name="phone_number" size="50" type="tel" /></td>
                    </tr>
                    <tr>
                        <td>User Name</td>
                        <td><input maxlength="500" name="username" size="50" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input maxlength="500" name="password" size="50" type="password" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
}